*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    font-family: "Nunito Sans", sans-serif;
    
}
/* Header */ 

header{
    background-color: #005CFF;
    color: #ffffff;
   
}
.desconto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px; 
    padding-top: 15px;
    width: 100%;
    font-size: 14px;
}
.desconto p{
    font-weight: 700;
}
.desconto p span{
    font-weight: 300;
}
mark{
    background-color: #9400D3;
    border-radius: 4px;
    color: #ffffff;
}

/* Nav */

nav {
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
}
.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  #overlay-bg {
    display: none; /* escondido por padrão */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
  }
  
  /* quando ativo */
  #overlay-bg.active {
    display: block;
  }
  
.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    gap: 10px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.logo .carrinho {
    position: relative;
    gap: 20px;
}

.logo .carrinho i {
    font-size: 1.6rem;
    color: black;
    
}
.lateral {
    display: none;
}

.search {
    flex: 1;
    width: 100%;
}

.search-wrapper {
    position: relative;
    width: 100%;
}

.search-wrapper input {
    width: 100%;
    height: 40px;
    padding: 0 45px 0 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

.btn-search {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
    font-size: 1.2rem;
}


.carrinho, .cliente {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.carrinho i, .cliente i {
    font-size: 1.6rem;
    color: black;
}

.lateral .cliente .bi-person {
    color: #005CFF;
}

.cliente span {
    display: none; 
}

.notificacao {
    position: absolute;
    top: -5px;
    right: -8px;
    background-color: blue;
    color: white;
    font-size: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay .menu-container ul li{
    width: 100%;
}

/* resultado da pesquisa */
.search-container {
    position: relative;
    z-index: 10;
}

#resultado-pesquisa {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #f3f3f3;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

/* section inicio */
.banner-container {
    position: relative; 
    width: 100%; 
    height: auto; 
    margin-bottom: 40px;
}

.imagem-principal {
    width: 100%; 
    height: auto; 
    display: block;
}

.imagem-secundaria {
    position: absolute;
    height: 100%; 
    width: 30%;  
    top: 0;
}
.imagem-3{
    position: absolute; 
    width: 30%; 
    height: auto; 
    top: 0;
}
.img-2 {
    top: 0; 
    left: 10%; 
}

.img-3 {
    top: 30%; 
    left: 50%; 
}


/* section meio */

  .meio {
    display: flex;
    flex-direction: column; 
    gap: 40px;
    padding: 30px;
  }
  
  .primeira-parte {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px;
  }
  
  .img-caneca-1 img {
    max-width: 100%; 
    height: auto;
    background-color: #C2C2C2;
  }
  
  .texto-caneca-1 {
    width: 100%; 
  }
  
  .texto-caneca-1 h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px; 
    text-align: center; 
  }
  
  .texto-caneca-1 p {
    font-size: 16px; 
    line-height: 1.5; 
  }
  
  /* meio secundario */

   .meio-secundario {
    padding: 40px;
    background-color: #DEDEDE;
  }
  
  .segunda-parte {
    display: flex;
    flex-direction: column-reverse; 
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .texto-caneca-2 {
    max-width: 500px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .texto-caneca-2 h1 {
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #333;
    text-align: center;
    font-weight: bold;
  }
  
  .item-texto {
    display: flex; 
    flex-direction: row;
    align-items: center; 
    gap: 15px; 
    margin-bottom: 15px;
    text-align: left;
  }
  
  .item-texto .icone {
    width: 40px;
    height: 50px;
    background-color: #005CFF;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    min-width: 50px; 
    margin-bottom: 0;
  }
  
  .item-texto p {
    margin: 0;
    color: #4F4F4F;
    line-height: 1.6;
    font-size: 14px;
  }
  
  .img-caneca-2 img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  /* section final */

.final {
    padding-bottom: 100px;
  }
  
  .imagem-final img {
    width: 100%;
    max-height: 660px; 
    object-fit: cover;
    object-position: bottom center; 
    height: 400px; 
  }
  
  section.final {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    gap: 20px;
  }
  
  .newslatter {
    width: 100%;
    padding: 0 10px;
  }
  
  .newslatter h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
  }
  
  .newslatter span {
    color: #005CFF;
  }
  
  .newslatter form {
    background-color: #DEDEDE;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #303030;
  }
  
  .input-newslatter {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
    font-size: 14px;
    padding-left: 10px;
  }
  
  .checkbox-container {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
  }
  
  .checkbox-container a {
    color: #303030;
    text-decoration: underline;
  }
  
  .newslatter form button {
    background-color: #005CFF;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
  }
  
  /* footer */

.conteiner1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
}

.conteiner1  div {
    width: 100%;
    text-align: center;
}

.institucional, .central, .atendimento {
    text-align: left;
}

h4 {
    font-size: 16px;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

h5 {
    font-size: 14px;
    margin: 5px 0;
    color: #303030;
}


.logo {
    text-align: center; 
    padding: 10px 0; 
  }
  
  .logo img {
    max-width: 200px; 
    height: auto;
  }
.pagamento img {
    max-width: 200px;
    height: auto;
}

.container2 {
    text-align: center;
    background-color: #ffffff;
    padding: 15px;
    font-size: 0.9rem;
}

.container2 p {
    margin-bottom: 10px;
    padding: 0 20px;
    color: #000;
}

.container2 img {
    max-width: 100px;
    height: auto;
}
.pagamento {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .desktop-footer {
    display: none; 
  }

  .footer-mobile {
    display: block;
  }

  .footer-mobile .accordion-content {
    display: none;
    overflow: hidden;
  }

  .footer-mobile .accordion-title {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  }

  .footer-mobile .accordion-title::after {
    content: '\25BE';
    color: #005CFF;
    width: 10px;
  }

  .footer-mobile .accordion-title.active::after {
    content: '\25B4';
  }

  .footer-mobile .accordion-content.open {
    display: block;
  }

  
/* Carroussel */

.lancamentos-carroussel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px 0 20px; 
   
 }
 .lancamentos-carroussel h1{
     font-size: 20px;
     color: black;
 }
 .lancamentos-carroussel p{
     font-size: 14px;
     font-weight: bold;
     cursor: pointer;
 }
 
 .carousel-container {
     display: flex;
     align-items: center;
     position: relative;
     max-width: 80%;
     margin: auto;
     overflow: hidden;
     height: auto;
     margin-top: 50px;
     margin-bottom: 50px;
 
 
     max-width: 1200px; 
     margin: 0 auto;
     padding: 20px;
 }
 .carousel-container i{
     color: #005CFF;
 }
 .carousel {
     display: flex;
     transition: transform 0.5s ease-in-out;
     scroll-behavior: smooth; 
     gap: 20px;
 }
 
 .novo-tag {
     background-color: #00264E; 
     color: white;
     font-size: 10px;
     padding: 5px 10px;
     border-radius: 5px;
     position: absolute;
     top: 10px;
     left: 10px;
 }
 
 .card .imgs img {
     max-width: 100%;
     height: 222px;
     border-radius: 10px;
 }
 
 .card-body .card-title {
     font-size: 14px;
     font-weight: 400;
     color: #333;
 }
 .precos {
     align-items: center; 
 }
 
 .precos{
     display: flex;
     flex-direction: column; 
     align-items: flex-start;
 }
 
 .precos .card-preco-anterior{
     font-size: 12px;
     text-decoration: line-through;
     margin-bottom: 1px; 
    
 }
 .precos .card-preco-atual{
     font-size: 16px;
     font-weight: bold;
     margin-bottom: 1px;
 }
 .preco-off {
     background-color: #5EC0BE; 
     color: white;
     padding: 3px 6px;
     border-radius: 5px;
     font-size: 10px;
     display: inline-block;
     text-align: center;
 
     margin-left: auto; 
     margin-right: 60px; 
     margin-top: -10px; 
 
 }
 .precos .text-parc{
     font-size: 12px;
     margin-bottom: 1px;
   
 }
 .text-parc span{
     font-weight: bold;
 }
 
 .btn.btn-primary{
     display: flex; 
     justify-content: center;
     align-items: center; 
     width: 90%; 
     max-width: 250px; 
     max-height: 35px;
     height: 40px;
     margin: 10px auto;
 
     text-align: center; 
     background-color: #005CFF;
     color: white;
     border: none;
     cursor: pointer;
     font-weight: bold;
 
    
     padding: 0 16px;
     border-radius: 8px;
     font-size: 16px;
 }
 
 .custom-carousel-wrapper {
     position: relative;
     max-width: 1000px;
     overflow: hidden;
     margin: 0 auto;
     margin-bottom: 20px;
     margin-top: 20px;
   }
   
   .custom-carousel {
     display: flex;
     overflow-x: scroll;
     scroll-behavior: smooth;
     scrollbar-width: none;
   }
   
   .custom-carousel::-webkit-scrollbar {
     display: none;
   }
   
   .card {
     flex: 0 0 auto;
     width: 238px; 
     height: 430px;
     margin-right: 20px;
   }
   
   .carousel-btn {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     background: transparent;
     border: none;
     font-size: 1.5rem;
     cursor: pointer;
     z-index: 10;
     padding: 10px;
     color: #005CFF;
     border-radius: 50%;
 
   }
   
   .prev {
     left: 0;
   }
   
   .next {
     right: 0;
   } 
   
   .carousel-dots {
     display: flex;
     justify-content: center;
     margin-top: 50px;
     gap: 5px;
     position: relative; 
   }
   
   .carousel-dots .carousel-dot {
     height: 8px;
     width: 8px;
     background-color: #ccc;
     border-radius: 50%;
     display: inline-block;
     transition: background-color 0.3s;
     cursor: pointer;
   }
   
   .carousel-dot.active {
     background-color: #303030;
   }
 
 

/* Menu */
.overlay {
    background-color: white;
    height: 10vh;
    width: 100%;
}

/* Submenu lateral */
#submenu-container {
    display: none;
    position: absolute;
    background: #f3f3f3;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    z-index: 100;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transform: none; 
    overflow-y: auto; 
    height: 400px;

    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #ccc transparent; /* Firefox */
}

/* WebKit scrollbar (Chrome, Edge, Safari) */
#submenu-container::-webkit-scrollbar {
    width: 6px;
}

#submenu-container::-webkit-scrollbar-track {
    background: transparent;
}

#submenu-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

/* Exibe o submenu quando ativo */
#submenu-container.active {
    display: block;
}


/* Posicionamento dinâmico do submenu */
#submenu-container.active {
    display: block;
}

/* Estilização dos menus */
.menu {
    display: flex;
    list-style: none;
    padding: 10px;
    background: white;
    border-radius: 5px;
    font-size: 14px;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

.menu li {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Menu Secundário */
.menu-secundario {
    margin-top: 10px;
}

/* Submenu lateral conteúdo */
#submenu-content {
    list-style: none;
    padding: 0;
    font-size: 14px;
}

/* Itens do submenu */
#submenu-content li {
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.todas-categorias {
    font-weight: bold;
}

#submenu-content li i {
    margin-left: 40px; 
    text-shadow: 0.5px 0 0 currentColor, -0.5px 0 0 currentColor;
}

/* Classe para esconder elementos */
.hidden {
    display: none;
}

/* submenu-categories */
#submenu-categories {
    display: flex; 
    gap: 20px;
    align-items: start; 
    background-color: #fff;
    font-size: 14px;
    position: absolute;
    left: 100%; 
    top: 10px; 
    border-radius: 8px;
    padding: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 11;
    width: auto;
    min-width: 1050px; 
    max-width: 90vw;
    gap: 350px;
}

.category-lists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.category-lists ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 350px; 
    overflow-y: auto;
}

.category-lists li {
    padding: 8px 12px;
    white-space: nowrap;
    cursor: pointer;
}

#submenu-categories > img {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    align-self: start;
    cursor: pointer;
}

#submenu-categories h1 {
    font-size: 16px;
    font-weight: 600;
    color: #333; 
    margin: 0 0 1rem 1rem; 
    padding: 0;
}

.active-blue {
    color: #005CFF;
    font-weight: bold;
    margin-left: -5px;
}
#submenu-categories ul li:first-child {
    color: #005CFF; 
    font-weight: bold; 
}
